#fullscreen-gmap-wrapper {
    display: none;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    // display: flex;
    & #fullscreen-gmap {
        width: 100%;
        height: 100%;
    }
    & .controls {
        width: 700px;
        height: 100%;
        float: left;
        background: white;
        box-shadow: 0 0 10px 3px rgba(black, .3);
        z-index: 9;
        padding: 15px;
        box-sizing: border-box;
    }
    & .select-marker {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $gray-light;
        font-size: 20px;
        font-family: $font-light;
    }
    & .gmap-tutor-card {
        display: flex;
        & .search-result-userpic {
            // float: right;
            & img {
                width: 100px;
                height: auto;
                margin: 0 0 10px 20px;
            }
        }
    }
    & .search-result-title {
        padding-bottom: 6px;
        line-height: normal;
    }
    & .bottom-indent {
        margin-bottom: 25px;
    }
    & .top-indent {
        margin-top: 25px;
    }
}
.map-subject-select {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 240px;
    z-index: 101;
    & .fake-select {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.49);
        height: 36px;
        border: none;
    }
}