.metro-circle {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    &.in-autocomplete {
        position: relative;
        left: -5px;
    }
    &.line-1 {background-color: $line-1}
    &.line-2 {background-color: $line-2}
    &.line-3 {background-color: $line-3}
    &.line-4 {background-color: $line-4}
    &.line-5 {background-color: $line-5}
    &.line-6 {background-color: $line-6}
    &.line-7 {background-color: $line-7}
    &.line-8 {background-color: $line-8}
    &.line-9 {background-color: $line-9}
    &.line-10 {background-color: $line-10}
    &.line-11 {background-color: $line-11}
    &.line-12 {background-color: $line-12}
}

.search-result-metro-list .metro-circle {
    margin-right: 5px;
}



.link-like {
    color: $green-main;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
}

div[id^='gmap'] {
    width: 100%;
    height: 403px;
    margin: 10px 0;
}

div[id^='svg'] {
    // text-align: center;
    margin: 0;
    margin-top: 10px;
}

.loading {
    text-align: center;
    padding: 200px 0;
    & img {
        width: 100px;
    }
}

.gmnoprint:not(.gm-bundled-control) {
    display: none;
}

.gm-bundled-control .gmnoprint {
    display: block;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
a[href^="https://www.google.com/maps"]{display:none !important}

.custom-select-sort {
    width: 233px;
    & span {
        white-space: normal !important;
    }
}

.other-tutor-list {
    margin-bottom: 20px;
    & img {
        height: 95px;
        border-radius: 4px;
    }
}

.text-green {
    color: $green-main-dark;
}

.button-search {
    width: 172px;
    & img {
        width: 50px;
    }
}

.remove-space {
    margin-left: -3px;
}


.search-result-tutor-info > * {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.text-gray {
    color: $gray;
}

.circle-separator {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    margin: 0 5px;
    top: -1px;
    position: relative;
    &:before {
        content: "\f111";
    }
}

.no-tutor-request {
    width: 746px;
    margin: 0 auto;
}

.content-align-center {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}
