.search-result-metro-list .metro-circle {
    margin-right: 5px;
}

.link-like {
    color: $green-main-dark;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
}

div[id^='gmap'] {
    width: 100%;
    height: 403px;
    margin: 10px 0;
    & div {
        border-radius: $border-radius;
    }
}

div[id^='svg'] {
    // text-align: center;
    margin: 0;
    margin-top: 10px;
}

.loading {
    text-align: center;
    padding: 200px 0;
    & img {
        width: 100px;
    }
}

.gmnoprint:not(.gm-bundled-control) {
    display: none;
}

.gm-bundled-control .gmnoprint {
    display: block;
}

.other-tutor-list {
    margin-bottom: 20px;
    & img {
        height: 95px;
        border-radius: 4px;
    }
}

.text-green {
    color: $green-main-dark;
}

.button-search {
    width: 172px;
    & img {
        width: 50px;
    }
}

.remove-space {
    margin-left: -3px;
}


.search-result-tutor-info {
    position: relative;
    & > * {
        display: block;
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
    }
}

.circle-separator {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    margin: 0 5px;
    top: -1px;
    position: relative;
    &:before {
        content: "\f111";
    }
}

.no-tutor-request {
    width: 746px;
}

.content-align-center {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.custom-select-sort {
    width: 300px;
}

label {
    font-family: 'helveticaneuecyrlight';
}

.metro-label {
    display: inline-block;
    width: 135px;
    vertical-align: top;
}

.metro-list {
    display: inline-block;
}

.metro-toggle-gmap {
    position: absolute;
    right: 0;
}

.search-more-hint {
    text-align: center;
}

.relative {
    position: relative;
}

.header-search-tutor-form > .sort-by {
    float: none;
    display: inline-block;
}

.footer-search-tutor-inner > .sort-by {
    float: none;
    display: inline-block;
    color: white;
}

// Главная страница
.index-page {
    & .search-result-item.button-green {
        vertical-align: middle;
        margin-left: 13px;
        position: relative;
    }
    & .customSelect {
        width: 200px;
    }
    & .customSelectInner {
        width: 150px !important;
    }
    & .header-search-tutor-form {
        padding: 170px 0;
    }
    & .short-tutor-title {
        & a {
            text-decoration: none !important;
        }
    }
}

// Отправка анкеты
.cv-page {
    $cv-margin: 30px;
    & h1 {
        padding: $cv-margin 0;
    }
    & .conditions {
        & > div:not(:last-child) {
            margin-bottom: 8px;
        }
        margin-bottom: $cv-margin;
    }

    & .publish-options {
        margin-bottom: $cv-margin;
    }
    & .upload-photo {
        margin-left: 16px;
        & .upload-photo-link {
            cursor: pointer;
            text-decoration: underline;
        }
        & .upload-percentage {
            @extend .text-gray-light;
            margin-left: 10px;
        }
    }
    & .send-application {
        text-align: center;
        margin-top: $cv-margin;
    }
    & .cv-fields {
        margin-bottom: $cv-margin;
        & .field-group {
            & > div {
                display: inline-block;
                width: 300px;
                vertical-align: middle;
                & input, & textarea {
                    width: 100%;
                }
                & textarea {
                    height: 130px;
                }
            }
            & > span {
                margin-left: 40px;
                display: inline-block;
                max-width: 600px;
                vertical-align: middle;
                &.example-top {
                    vertical-align: top;
                    padding-top: 5px;
                    & .error {
                        margin-top: 10px;
                        white-space: nowrap;
                    }
                }
            }
            margin-bottom: 10px;
        }
    }
}

.bootstrap-select {
    width: 100% !important;
}

.bootstrap-select, .dropdown-toggle {
    outline: none !important;
}

.bootstrap-select > .dropdown-toggle {
    padding: 8px 12px 8px 15px !important;
    width: calc(100% + 16px);
}

span.check-mark {
    margin-top: 3px !important;
}

.btn-default {
    border: 1px solid $gray-border;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: $gray-placeholder;
}

.glyphicon {
    @extend .fa;
}

.glyphicon-ok {
    @extend .fa-check;
}

.caret {
    background: transparent url(../img/svg/dropdown.svg) no-repeat calc(100% - 13px) 70%;
    background-size: 14px;
    height: 15px;
    width: 27px;
    right: 0 !important;
    top: 17px;
    border: 0 !important;
}


.page-not-found {
    padding: 120px 0;
    text-align: center;
    & > div:not(:last-child) {
        margin-bottom: 5px;
    }
}

.notifyjs-bootstrap-base {
    font-weight: normal !important;
    font-family: $font-roman;
}

.request-form-sent {
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    & h2 {
        padding-bottom: 10px;
    }
}

textarea {
    line-height: normal !important;
    padding-top: 10px !important;
}

.red-background {
    background-color: $red !important;
}

.footer-search-tutor {
    position: relative;
}
.footer-lightbox {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(black, .5);
}


.request-page, .login-page {
    & h1 {
        padding: 30px 0;
    }
}

.vertical-align {
    display: flex;
    // 100% - шапка - зеленая полоса - футер
    height: calc(100% - 97px - 41px - 312px);
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h1-like {
    font-weight: normal;
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 23px;
    font-family: 'helveticaneuecyrlight';
    padding: 0 0 6px;
    font-size: 14px;
    line-height: 20px;
}

.phone-login-form {
    display: inline-block;
    margin: 0;
    text-align: center;
}

.mb {
    margin-bottom: 10px;
}

.login-page {
    text-align: center;
}

.h-margin {
    padding: 30px 0 25px;
}

.user-img {
    height: 150px;
    width: 120px;
    border-radius: 5px;
}

.login-page {
    & p {
        line-height: 20px;
    }
}

h3 {
    margin: 0;
    padding: 0 0 19px 0;
    font-size: 22px;
    font-weight: normal;
}
