$green-main: #53ab53;
$green-main-light: lighten($green-main, 10);
$green-main-heavy-light: lighten($green-main, 45);
$green-main-dark: darken($green-main, 10);
$green-main-heavy-dark: darken($green-main, 15);

$font-light: 'helveticaneuecyrlight';
$font-roman: 'helveticaneuecyrroman';
$font-medium: 'helveticaneuecyrmedium';

$input-border: 1px solid rgba(0,0,0,.5);

$main-page-block-padding: 30px;

$font-awesome: normal normal normal 14px/1 FontAwesome;

$gray: #777777;
$gray-light: #b5b5b5;
$gray-placeholder: #a9a9a9;
$gray-border: #dedede;

// $red: #ff8181;
$red: #f20007;

$buttons-padding: 0 12px;

$line-1: #ca5948;
$line-2: #528c5d;
$line-3: #5a68a0;
$line-4: #4babd8;
$line-5: #9b6144;
$line-6: #d78a4b;
$line-7: #a25980;
$line-8: #ebe457;
$line-9: #838382;
$line-10: #79b872;
$line-11: #4c7ea9;
$line-12: #b0cccb;

$logo-black: black;

$border-radius: 4px;

.button-base {
    padding: 0 12px;
    line-height: 36px;
    border-radius: $border-radius;
}

.logo-base {
    height: 65px;
    width: 500px;
    overflow: hidden;
    text-indent: 80px;
    text-decoration: none !important;
    & p {
        padding: 0;
        color: $logo-black;
        &:first-child {
            padding-top: 10px;
            font-size: 29px;
            font-family: 'Glober';
        }
        &:last-child {
            font-size: 12px;
            position: relative;
            top: -5px;
            left: 2px;
        }
    }
}
