$green-main: #53ab53;
$green-main-light: lighten($green-main, 10);
$green-main-heavy-light: lighten($green-main, 45);
$green-main-dark: darken($green-main, 10);
$green-main-heavy-dark: darken($green-main, 15);

$font-light: 'helveticaneuecyrlight';
$font-roman: 'helveticaneuecyrroman';
$font-medium: 'helveticaneuecyrmedium';

$input-border: 1px solid rgba(0,0,0,.5);

$main-page-block-padding: 30px;

$font-awesome: normal normal normal 14px/1 FontAwesome;

$gray: #777777;
$gray-light: #b5b5b5;
$gray-placeholder: #a9a9a9;
$gray-border: #dedede;

// $red: #ff8181;
$red: #f20007;

$buttons-padding: 0 12px;

$line-1: #ca5948;
$line-2: #528c5d;
$line-3: #5a68a0;
$line-4: #4babd8;
$line-5: #9b6144;
$line-6: #d78a4b;
$line-7: #a25980;
$line-8: #ebe457;
$line-9: #838382;
$line-10: #79b872;
$line-11: #4c7ea9;
$line-12: #b0cccb;

$logo-black: black;

$border-radius: 4px;

.button-base {
    padding: 0 12px;
    line-height: 36px;
    border-radius: $border-radius;
}

.logo-base {
    height: 65px;
    width: 500px;
    overflow: hidden;
    text-indent: 80px;
    text-decoration: none !important;
    & p {
        padding: 0;
        color: $logo-black;
        &:first-child {
            padding-top: 10px;
            font-size: 29px;
            font-family: 'Glober';
        }
        &:last-child {
            font-size: 12px;
            position: relative;
            top: -5px;
            left: 2px;
        }
    }
}


.metro-circle {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    &.in-autocomplete {
        position: relative;
        left: -5px;
    }
    &.line-1 {background-color: $line-1}
    &.line-2 {background-color: $line-2}
    &.line-3 {background-color: $line-3}
    &.line-4 {background-color: $line-4}
    &.line-5 {background-color: $line-5}
    &.line-6 {background-color: $line-6}
    &.line-7 {background-color: $line-7}
    &.line-8 {background-color: $line-8}
    &.line-9 {background-color: $line-9}
    &.line-10 {background-color: $line-10}
    &.line-11 {background-color: $line-11}
    &.line-12 {background-color: $line-12}
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
a[href^="https://www.google.com/maps"]{display:none !important}

.notifyjs-bootstrap-error {
    color: white !important;
    background: none !important;
    background-color: $red !important;
    border-color: $red !important;
    font-family: $font-light;
    text-shadow: none !important;
    -webkit-font-smoothing: antialiased;
    padding-left: 14px !important;
}

.error-message {
    border-radius: $border-radius;
    background-color: $red;
    color: white;
    text-align: center;
    padding: 11px 0;
    margin-top: 12px;
    font-family: $font-roman;
    &.button-like {
        display: inline-block;
        margin-top: 30px;
        padding: 11px 12px;
    }
}

.font-rub {
    font-family: 'ALSRubl-Arial', Arial, sans-serif;
    line-height: normal;
    font-weight: bold;
}


.footer-search {
    display: inline-block;
    position: relative;
    margin-top: 7px;
    padding: 0 35px 0 0;
    width: 8.8em;
}
.footer-search-input {
    border: 1px solid #e3e3e3;
    background-color: #e3e3e3;
    border-radius: 8px 0 0 8px;
    padding: 0 0 0 16px;
    font-size: 14px;
    font-family: 'helveticaneuecyrlight';
    padding: 0.4em 1.1em;
    font-size: 1.1em;
    width: 80%;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.footer-search-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-radius: 0 8px 8px 0;
    background: #e3e3e3;
    cursor: pointer;
    text-align: right;
    padding-right: 12px;
    padding: 0.45em .5em;
    font-size: 1.1em;
    & img {
        height: 15px;
    }
}
